

extends ../base.jade

block content
  h3 Items

  form(method="POST")
      .form-group
       img(src= "https://images-eu.ssl-images-amazon.com/images/I/51XwtmnNjSL._AA160_.jpg")
      .form-group
      button.btn.btn-success(type="submit") Add to Cart

  each item in items
    .media
      a(href="/items/#{item.title}")
        .media-body
          h4= item.id

  if !items.length
    p No Items found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
